<div class="container mt-4">
    <div class="row">
      <div class="col-sm-4">
        <h1>About our Team</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
            <img src="assets/images/about/profile.jpeg" alt="profile-pic" class="card-image-top image-thumbnail" />
          <div class="card-body">
              <h5>Additional Roles:</h5>
              <ul>
                  <li>Founder</li>
                  <li>President</li>
                  <li>Vice President</li>
                  <li>Chairman & CEO</li>
              </ul>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt fugiat necessitatibus inventore voluptatum ratione saepe nihil totam quod neque. Sunt quia reprehenderit, perferendis placeat itaque optio sit eligendi voluptatem asperiores?</p>
          </div>
          <div class="card-footer">
            <div class="btn-group d-flex">
              <button class="btn btn-success w-100">Contact</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="tab-panel">
            <h2>Joseph Burke</h2>
            <h4>Managing Director</h4>
            <p>Joseph Burke was Deputy Secretary for International Business Development for Pennsylvania Department of Community and Economic Development.</p>
            <p>Probably the most powerful man in Pennsylvania.</p>
        </div>
      </div>
    </div>
  </div>
  