<div class="container mt-4">
    <h2 style="text-align: center;">Please Contact through Email or LinkedIn</h2>
    <div style="display: flex; justify-content: center;">
        <div class="mr-4">
            <a href="mailto:jmcmka@gmail.com?subject=Cashel%20Consulting%20Inquiry">
                <i class="fa fa-envelope fa-5x"></i>
            </a>
        </div>
        <div>
            <a href="https://www.linkedin.com/in/maigheo77/" target="_blank" rel="noopener noreferrer">
                <i class="fa fa-linkedin fa-5x"></i>
            </a>
        </div>
        
    </div>
</div>
