<div class="container mt-4">
    <div class="row">
      <div class="col-sm-4">
        <h1>Our Services</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt fugiat necessitatibus inventore voluptatum ratione saepe nihil totam quod neque. Sunt quia reprehenderit, perferendis placeat itaque optio sit eligendi voluptatem asperiores?</p>
          </div>
          <div class="card-footer">
            <div class="btn-group d-flex">
              <button [routerLink]="['/contact']" class="btn btn-success w-100">Contact</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="tab-panel">
          <tabset class="member-tabset">
            <tab id="tab0" heading="Business Development">
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae asperiores, vero quia numquam, adipisci, minus aperiam dolorem provident suscipit fugiat laborum corporis veritatis temporibus nam doloribus. Sed explicabo cum maxime!</p>
            </tab>
            <tab id="tab1" heading="International Investment">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid deserunt quas quisquam dolor ullam. Est ipsam inventore facilis, sed et quam soluta velit molestias, ea quaerat consequatur rem exercitationem autem.</p>
            </tab>
            <tab id="tab2" heading="Trade Relationships">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error beatae a saepe eos? Dignissimos impedit, dolorum vitae a quia nulla consectetur, expedita sequi ipsa autem molestiae cumque deleniti iure neque.</p>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
  