img {
    max-height: 500px !important;
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
  }

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
}